.modal-overlay{
   margin-top: 6%;
}
.form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.all{
   min-height: calc(100vh - 210px);
}



@media (max-width: 768px) {
   
  .modal-overlay {
   margin-left:8%;
   width:300px;
   position:fixed;
   z-index:999;
   margin-top: 28%;
   margin-bottom: 6%;
}
.all{
   min-height: calc(100vh - 40px);
}
  
}
